/* Override foundation CSS here */
body h3 {
    text-align: center;
    font-weight: bold;
    margin-top: 4vh;    
}

body h5 {
    font-weight: 550;
}

body h6 {
    font-weight: 500;
}

body hr {
    max-width: 100%;
}

body p {
    margin-bottom: 0;
}

/* CSS for all pages here */
.content-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.content {
    margin: 3vh;
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
}

.content h4 {
    text-align: center;
    max-width: 80%;
}

/* CSS for only index.html */
.profile-img {
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.profile-img img {
    border: 5px solid #555;
}

/* CSS for only projects.html */
.project-img {
    border: 5px solid #555;
}

/* CSS for only resume.html */
.resume-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    margin: 0;
}

.resume-header p {
    font-weight: 500;
}

.resume-content-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.resume-header span {
    font-weight: 400;
}

.resume-content {
    width: 70%;
}

.resume-margin {
    margin: 1vh
}

@media only screen and (max-width: 992px) {
    .resume-header {
        flex-direction: column;
    }
}

@media only screen and (max-width: 640px) {
    .resume-content-header {
        flex-direction: column;
    }
}